*{
    padding: 0;
    margin:0;
}
.page{
    margin: auto;
}
.btnTop{
    width:34px;
    height: 34px;
    position:fixed;
    bottom: 30px;
    background: url('../img/gotop.jpg') no-repeat scroll 0 0 / 34px 103px;
    right:0;
    margin-right: 6px;
}

.btnTop:hover{
    background: url('../img/gotop_hover.jpg') no-repeat scroll 0 0 / 34px 103px;
}
.hide{
    display: none;;
}